{% if article %}
	<header>
    {% if article.title %}
      <h1 class="title">
			  <a  href="{{ SITEURL }}/{{ article.url }}"
            rel="bookmark"
			  	  title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}
        </a>
      </h1>
    {% endif %}
    {#
      {% if article.author %}
        <h3 class="author">{{ article.author }}</h3>
      {% elif AUTHOR %}
        <h3 class="author">{{ AUTHOR }}</h3>
      {% endif %}
    #}
    {% if article.locale_date %}
		  <abbr class="published">{{ article.locale_date }}</abbr>
    {% endif %}
	</header>
{% elif page %}
	<header>
    {% if page.title %}
      <h1 class="title">
			  <a  href="{{ SITEURL }}/{{ page.url }}"
            rel="bookmark"
			  	  title="Permalink to {{ page.title|striptags }}">
          {{ page.title }}
        </a>
      </h1>
    {% endif %}
	</header>
{% else %}
	<header>
		<h3>
			<script type="text/javascript">
				var currentDate = new Date();
				var day = currentDate.getDate();
				var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec" ];
				var month = monthNames[currentDate.getMonth()].toUpperCase();
				var year = currentDate.getFullYear();
				document.write(month + " " + day + ", " + year);
			</script>
		</h3>
	</header>
{% endif %}
